{% extends "layouts/index.njk" %}
{% block content %}
<h1>Home</h1>
<p>This is a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> file. Go to <code>pages/index.njk</code> to edit it.</p>
{% endblock %}
