<!DOCTYPE html>
<html>
<head>
  {% include "partials/meta.html" %}

  <title>{% block title %}{{ data.title }}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}"/>
  {% endfor %}
  <link href="/stylesheets/styles.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <section class="hero">
    <div class="hero-head">
      {% include "partials/navigation.html" %}
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {{ data.title }}
        </h1>
        <h2 class="subtitle">
          {{ data.dummy }}
        </h2>
      </div>
    </div>
  </section>

  {% block content %}
  <section class="section">
    <div class="content">{{ content | safe }}</div>
  </section>
  {% endblock %}

  {% for javascript in javascripts %}
  <script type="text/javascript" src="{{ javascript }}"></script>
  {% endfor %}
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
