<!DOCTYPE html>
<html>
<head>
  {% include "partials/meta.html" %}
  <title>{% block title %}{{ data.title }}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}"/>
  {% endfor %}
  <link href="/stylesheets/styles.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <main>
    <article>
      {% block content %}{% endblock %}
    </article>
  </main>

  {% for javascript in javascripts %}
  <script type="text/javascript" src="{{ javascript }}"></script>
  {% endfor %}
  <script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
