<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">/</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HTML</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/markdown">Markdown</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/org-mode">Org Mode</a>
        </li>
      </ul>
      <a class="nav-link" href="">Powered by Kulfon</a>
    </div>
  </div>
</nav>
