@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-size: 18px;
  font-family: 'Lato';
}
